<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashibing.mapper.WyGoodsInoutMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mashibing.bean.WyGoodsInout">
        <id column="id" property="id" />
        <result column="inout_date" property="inoutDate" />
        <result column="carry_person" property="carryPerson" />
        <result column="id_card" property="idCard" />
        <result column="input_type" property="inputType" />
        <result column="live_addr" property="liveAddr" />
        <result column="inout_unit" property="inoutUnit" />
        <result column="customer_name" property="customerName" />
        <result column="inout_goods" property="inoutGoods" />
        <result column="agent" property="agent" />
        <result column="remark" property="remark" />
        <result column="company" property="company" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, inout_date, carry_person, id_card, input_type, live_addr, inout_unit, customer_name, inout_goods, agent, remark, company
    </sql>

</mapper>
