<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvc_json:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc_json_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvc_json/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmvc_json" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.10.3" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.10.3" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.10.3" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: commons-io:commons-io:2.6" />
          <element id="library" level="project" name="Maven: commons-fileupload:commons-fileupload:1.4" />
        </element>
      </element>
    </root>
  </artifact>
</component>