<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashibing.mapper.FyInvalidSubMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mashibing.bean.FyInvalidSub">
        <id column="invalid_detail_id" property="invalidDetailId" />
        <result column="invalid_id" property="invalidId" />
        <result column="money_setting_name" property="moneySettingName" />
        <result column="charge_unit" property="chargeUnit" />
        <result column="last_read_number" property="lastReadNumber" />
        <result column="current_read_number" property="currentReadNumber" />
        <result column="real_used" property="realUsed" />
        <result column="money" property="money" />
        <result column="delay_money" property="delayMoney" />
        <result column="current_should_pay" property="currentShouldPay" />
        <result column="over_day" property="overDay" />
        <result column="money_start_date" property="moneyStartDate" />
        <result column="money_stop_date" property="moneyStopDate" />
        <result column="pay_limit_day" property="payLimitDay" />
        <result column="input_person" property="inputPerson" />
        <result column="standing_book_id" property="standingBookId" />
        <result column="receive_cycle" property="receiveCycle" />
        <result column="derate_money" property="derateMoney" />
        <result column="money_id" property="moneyId" />
        <result column="delay_derate_money" property="delayDerateMoney" />
        <result column="mop_floor" property="mopFloor" />
        <result column="money_mult" property="moneyMult" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        invalid_detail_id, invalid_id, money_setting_name, charge_unit, last_read_number, current_read_number, real_used, money, delay_money, current_should_pay, over_day, money_start_date, money_stop_date, pay_limit_day, input_person, standing_book_id, receive_cycle, derate_money, money_id, delay_derate_money, mop_floor, money_mult
    </sql>

</mapper>
