<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashibing.mapper.FyShareUserDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mashibing.bean.FyShareUserDetail">
        <id column="id" property="id" />
        <result column="standing_book_id" property="standingBookId" />
        <result column="cell_id" property="cellId" />
        <result column="customer_name" property="customerName" />
        <result column="box_id" property="boxId" />
        <result column="share_money" property="shareMoney" />
        <result column="current_share_number" property="currentShareNumber" />
        <result column="current_pay_start_date" property="currentPayStartDate" />
        <result column="current_pay_stop_date" property="currentPayStopDate" />
        <result column="current_pay_limit_date" property="currentPayLimitDate" />
        <result column="receive_identify" property="receiveIdentify" />
        <result column="price_unit" property="priceUnit" />
        <result column="cost_identify" property="costIdentify" />
        <result column="receive_id" property="receiveId" />
        <result column="refund_number" property="refundNumber" />
        <result column="receive_cycle" property="receiveCycle" />
        <result column="derate_money" property="derateMoney" />
        <result column="should_pay" property="shouldPay" />
        <result column="invalid_number" property="invalidNumber" />
        <result column="derate_delay_money" property="derateDelayMoney" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, standing_book_id, cell_id, customer_name, box_id, share_money, current_share_number, current_pay_start_date, current_pay_stop_date, current_pay_limit_date, receive_identify, price_unit, cost_identify, receive_id, refund_number, receive_cycle, derate_money, should_pay, invalid_number, derate_delay_money
    </sql>

</mapper>
