<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashibing.mapper.TblDbSettingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mashibing.bean.TblDbSetting">
        <result column="db_Url" property="dbUrl" />
        <result column="db_username" property="dbUsername" />
        <result column="db_pwd" property="dbPwd" />
        <result column="db_lib_name" property="dbLibName" />
        <result column="save_path" property="savePath" />
        <result column="save_name" property="saveName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        db_Url, db_username, db_pwd, db_lib_name, save_path, save_name
    </sql>

</mapper>
