<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashibing.mapper.TblVoteSubjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mashibing.bean.TblVoteSubject">
        <id column="id" property="id" />
        <result column="project_id" property="projectId" />
        <result column="subject_name" property="subjectName" />
        <result column="input_record_person" property="inputRecordPerson" />
        <result column="input_record_date" property="inputRecordDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, project_id, subject_name, input_record_person, input_record_date
    </sql>

</mapper>
