<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashibing.mapper.ZhConstomerDecorateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mashibing.bean.ZhConstomerDecorate">
        <id column="id" property="id" />
        <result column="cell_id" property="cellId" />
        <result column="proposer" property="proposer" />
        <result column="phone_number" property="phoneNumber" />
        <result column="proposer_date" property="proposerDate" />
        <result column="decorate_content" property="decorateContent" />
        <result column="check_person" property="checkPerson" />
        <result column="decorate_ensure_money" property="decorateEnsureMoney" />
        <result column="check_date" property="checkDate" />
        <result column="check_advice" property="checkAdvice" />
        <result column="leader_phone" property="leaderPhone" />
        <result column="execute_company" property="executeCompany" />
        <result column="execute_start_date" property="executeStartDate" />
        <result column="leader" property="leader" />
        <result column="checked_person" property="checkedPerson" />
        <result column="execute_stop_date" property="executeStopDate" />
        <result column="checked_advice" property="checkedAdvice" />
        <result column="checked_date" property="checkedDate" />
        <result column="remark" property="remark" />
        <result column="status" property="status" />
        <result column="create_person" property="createPerson" />
        <result column="create_date" property="createDate" />
        <result column="identify" property="identify" />
        <result column="confirm_person" property="confirmPerson" />
        <result column="confirm_date" property="confirmDate" />
        <result column="decorate_attach" property="decorateAttach" />
        <result column="against_money" property="againstMoney" />
        <result column="invalid_person" property="invalidPerson" />
        <result column="invalid_date" property="invalidDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cell_id, proposer, phone_number, proposer_date, decorate_content, check_person, decorate_ensure_money, check_date, check_advice, leader_phone, execute_company, execute_start_date, leader, checked_person, execute_stop_date, checked_advice, checked_date, remark, status, create_person, create_date, identify, confirm_person, confirm_date, decorate_attach, against_money, invalid_person, invalid_date
    </sql>

</mapper>
