<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashibing.mapper.FyRefundMainMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mashibing.bean.FyRefundMain">
        <id column="refund_id" property="refundId" />
        <result column="receipt_id" property="receiptId" />
        <result column="cell_id" property="cellId" />
        <result column="receive_cycle" property="receiveCycle" />
        <result column="customer_name" property="customerName" />
        <result column="money" property="money" />
        <result column="real_receive_money" property="realReceiveMoney" />
        <result column="discount_money" property="discountMoney" />
        <result column="receive_method" property="receiveMethod" />
        <result column="is_customer" property="isCustomer" />
        <result column="receive_money" property="receiveMoney" />
        <result column="money_id" property="moneyId" />
        <result column="estate_id" property="estateId" />
        <result column="current_delay_money" property="currentDelayMoney" />
        <result column="last_delay_money" property="lastDelayMoney" />
        <result column="refund_type" property="refundType" />
        <result column="receipt_number" property="receiptNumber" />
        <result column="invoice_number" property="invoiceNumber" />
        <result column="receive_person" property="receivePerson" />
        <result column="remark" property="remark" />
        <result column="company" property="company" />
        <result column="refund_reason" property="refundReason" />
        <result column="refund_time" property="refundTime" />
        <result column="refund_person" property="refundPerson" />
        <result column="check_status" property="checkStatus" />
        <result column="check_person" property="checkPerson" />
        <result column="check_time" property="checkTime" />
        <result column="check_advice" property="checkAdvice" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        refund_id, receipt_id, cell_id, receive_cycle, customer_name, money, real_receive_money, discount_money, receive_method, is_customer, receive_money, money_id, estate_id, current_delay_money, last_delay_money, refund_type, receipt_number, invoice_number, receive_person, remark, company, refund_reason, refund_time, refund_person, check_status, check_person, check_time, check_advice
    </sql>

</mapper>
