<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashibing.mapper.FyShareStandingBookDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mashibing.bean.FyShareStandingBookDetail">
        <id column="id" property="id" />
        <result column="standing_book_id" property="standingBookId" />
        <result column="public_box_name" property="publicBoxName" />
        <result column="price_unit" property="priceUnit" />
        <result column="share_number" property="shareNumber" />
        <result column="last_read_number" property="lastReadNumber" />
        <result column="current_read_number" property="currentReadNumber" />
        <result column="current_use_number" property="currentUseNumber" />
        <result column="should_pay" property="shouldPay" />
        <result column="last_pay_stop_date" property="lastPayStopDate" />
        <result column="current_pay_start_date" property="currentPayStartDate" />
        <result column="current_pay_stop_date" property="currentPayStopDate" />
        <result column="current_pay_limit_date" property="currentPayLimitDate" />
        <result column="receive_cycle" property="receiveCycle" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, standing_book_id, public_box_name, price_unit, share_number, last_read_number, current_read_number, current_use_number, should_pay, last_pay_stop_date, current_pay_start_date, current_pay_stop_date, current_pay_limit_date, receive_cycle
    </sql>

</mapper>
