<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashibing.mapper.TblEmployeeContactMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mashibing.bean.TblEmployeeContact">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="category_name" property="categoryName" />
        <result column="category_id" property="categoryId" />
        <result column="name" property="name" />
        <result column="work_num" property="workNum" />
        <result column="dept" property="dept" />
        <result column="role" property="role" />
        <result column="position" property="position" />
        <result column="gender" property="gender" />
        <result column="birthday" property="birthday" />
        <result column="office_phone" property="officePhone" />
        <result column="fax" property="fax" />
        <result column="move_phone" property="movePhone" />
        <result column="home_phone" property="homePhone" />
        <result column="email" property="email" />
        <result column="qq" property="qq" />
        <result column="wchat" property="wchat" />
        <result column="inner_msn" property="innerMsn" />
        <result column="addr" property="addr" />
        <result column="post_code" property="postCode" />
        <result column="remark" property="remark" />
        <result column="create_person_id" property="createPersonId" />
        <result column="create_person" property="createPerson" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, category_name, category_id, name, work_num, dept, role, position, gender, birthday, office_phone, fax, move_phone, home_phone, email, qq, wchat, inner_msn, addr, post_code, remark, create_person_id, create_person, create_date
    </sql>

</mapper>
