<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashibing.mapper.TblMydeskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mashibing.bean.TblMydesk">
        <id column="id" property="id" />
        <result column="belong_model" property="belongModel" />
        <result column="order_id" property="orderId" />
        <result column="username" property="username" />
        <result column="show_num" property="showNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, belong_model, order_id, username, show_num
    </sql>

</mapper>
