<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashibing.mapper.TblSystemLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mashibing.bean.TblSystemLog">
        <id column="id" property="id" />
        <result column="log_content" property="logContent" />
        <result column="model_id" property="modelId" />
        <result column="ip_addr" property="ipAddr" />
        <result column="dept_privileges" property="deptPrivileges" />
        <result column="operate_id" property="operateId" />
        <result column="operate_name" property="operateName" />
        <result column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
        <result column="operate_date" property="operateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, log_content, model_id, ip_addr, dept_privileges, operate_id, operate_name, dept_id, dept_name, operate_date
    </sql>

</mapper>
