<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashibing.mapper.WyIncomeProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mashibing.bean.WyIncomeProject">
        <id column="id" property="id" />
        <result column="income_project_name" property="incomeProjectName" />
        <result column="parent_income_id" property="parentIncomeId" />
        <result column="desc" property="desc" />
        <result column="create_person" property="createPerson" />
        <result column="create_date" property="createDate" />
        <result column="update_person" property="updatePerson" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, income_project_name, parent_income_id, desc, create_person, create_date, update_person, update_date
    </sql>

</mapper>
